<!-- ブログを一覧表示する画面 -->

<head th:replace="~{fragments/layout :: head('ブログ一覧')}"></head>
<!-- ヘッダーのフラグメント化 -->

<body>

    <header class="site-header">
        <a class="site-name">
            <h1>Blog *.</h1>
        </a>
        <nav class="site-nav">
            <ul>
                <li><a href="/blogs">ホーム</a></li>
                <li><a href="/blogs/new">新規投稿</a></li>
                <li><a href="/blogs/profile">投稿者</a></li>
            </ul>
        </nav>
    </header>
    <!-- 共通ナビゲーション -->

    <h1>ブログ一覧</h1>
    <p th:if="${#lists.isEmpty(blogs)}">ブログがありません</p>
    <!-- th:ifを付けたタグは ${...} の中身が真の時だけ出力され、偽のときは出力されない
    リストが空かどうかは、Thymeleafの組み込みオブジェクト #lists.isEmpty(リスト名) で判定
    (リスト名)のリスト名はリストを作成しているファイル(TasksController.java)を参照する -->

    <div th:each="blog :${blogs}" class="blog-container">
        <div class="width-display">
            <div class="child">
                <div th:text="${blog.title}">仮表示タイトル</div>
                <img th:src="@{'/images/' + ${blog.imgs}}" alt="仮表示画像" width="70px"><br>
                <span class="blogs_flex">
                    <a th:href="@{/blogs/{id}(id=${blog.id})}" class="a_margin">詳細を見る</a>
                    <form th:action="@{/blogs/{id}/delete(id=${blog.id})}" method="post">
                        <button type="submit">削除</button>
                    </form>
                </span>
            </div>
        </div>
    </div>
</body>

</html>