<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
</head>

<body>
    <h1>ブログ一覧</h1>
    <!-- 【追加１】 -->
    <ul>
        <li>
            <span>〇〇占い１</span>
            <a href="/blogs/detail">続きを読む</a>
        </li>
        <li>
            <span>〇〇占い２</span>
            <a href="/blogs/detail">続きを読む</a>
        </li>
    </ul>
    <a href="/blogs/new">投稿する</a>
</body>

</html>