<!-- ブログの詳細を表示する画面：本文はここで表示 -->

<head th:replace="~{fragments/layout :: head('ブログ一覧')}"></head>
<!-- ヘッダーのフラグメント化 -->

<body>

    <header class="site-header">
        <a class="site-name">
            <h1>Blog *.</h1>
        </a>
        <nav class="site-nav">
            <ul>
                <li><a href="/blogs">ホーム</a></li>
                <li><a href="/blogs/new">新規投稿</a></li>
                <li><a href="/blogs/profile">投稿者</a></li>
            </ul>
        </nav>
    </header>
    <!-- 共通ナビゲーション -->

    <div>
        <h1 th:text="${blog.title}">仮表示タイトル</h1>
        <div th:text="${blog.notes}" class="br_css">仮表示本文</div>
        <img th:src="@{'/images/' + ${blog.imgs}}" alt="仮表示画像" width="70px"><br>
    </div>

</body>

</html>