<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> -->

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>詳細</title>
</head> -->

<head th:replace="~{fragments/layout :: head('ブログ一覧')}"></head>
<!-- ヘッダーのフラグメント化 -->
<body>

    <header class="site-header">
        <a class="site-name">
            <h1>Blog</h1>
        </a>
        <nav class="site-nav">
            <ul>
                <li><a href="/blogs">ホーム</a></li>
                <li><a href="/blogs/new">新規投稿</a></li>
            </ul>
        </nav>
    </header>
    <!-- 共通ナビゲーション -->

    <h1>詳細</h1>
    <div th:each="blog :${blogs}">
        <div th:text="${blog.title}">仮表示占いタイトル</div>
        <div th:text="${blog.notes}">仮表示占い本文</div>
    </div>

</body>
</html>