<!DOCTYPE html>
<html lang="ja">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ投稿</title>
</head> -->
<head th:replace="~{fragments/layout :: head('書籍一覧')}"></head>
<!-- ヘッダーのフラグメント化 -->

<body>

    <header class="site-header">
        <a class="site-name">
            <h1>Blog</h1>
        </a>
        <nav class="site-nav">
            <ul>
                <li><a href="/blogs">ホーム</a></li>
                <li><a href="/blogs/new">新規投稿</a></li>
            </ul>
        </nav>
    </header>
    <!-- 共通ナビゲーション -->

    <h1>ブログ投稿</h1>
    <form action="/blogs" method="post">
        <label for="title">タイトル：</label>
        <input type="text" id="title" name="title">
        <label for="notes">本文：</label>
        <textarea name="notes" id="notes" rows="5" cols="33"></textarea>
        <button type="submit">投稿</button>
    </form>
</body>
</html>