<!-- <!DOCTYPE html>
<html lang="ja"> -->
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ投稿</title>
</head> -->

<head th:replace="~{fragments/layout :: head('ブログ一覧')}"></head>
<!-- ヘッダーのフラグメント化 -->

<body>

    <header class="site-header">
        <a class="site-name">
            <h1>Blog</h1>
        </a>
        <nav class="site-nav">
            <ul>
                <li><a href="/blogs">ホーム</a></li>
                <li><a href="/blogs/new">新規投稿</a></li>
            </ul>
        </nav>
    </header>
    <!-- 共通ナビゲーション -->

    <h1>ブログ投稿</h1>

    <div class="blog-container">
        <div class="width-display">
            <form action="/blogs" method="post" enctype="multipart/form-data">
            <!-- enctype="multipart/form-data"は画像を送信する場合に必要 -->

                <div class="child">
                    <label for="title">タイトル：</label><br>
                    <input type="text" id="title" name="title">
                </div>


                <div class="child">
                    <label for="notes">本文：</label><br>
                    <textarea name="notes" id="notes" rows="5" cols="33"></textarea>
                </div>

                <div class="child">
                    <label for="imgs">画像：</label><br>
                    <input type="file" name="imgs" id="imgs">
                </div>

                <button type="submit">投稿</button>
            </form>
        </div>
    </div>
</body>

</html>